# Eclipse file
/target/
.classpath
.project
.settings

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar